<!-- {% load static %}
<!DOCTYPE html>
{%for error in errors%}
<h1>{{error}}</h1>
{%endfor%}
<h1></h1>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
     <link rel="stylesheet" href="{% static '/css/style.css' %}" /> -->
    <!-- <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin">
          <form method="POST" action="{% url 'login' %}" class="sign-in-form">
            {% csrf_token %}
            <h2 class="title">Log In</h2>
            <div class="input-field">
              <i class="fa fa-user"></i>
              <input type="text" placeholder="Username" name="Rid"/>
            </div>
            <div class="input-field">
              <i class="fa fa-lock"></i>
              <input type="password" placeholder="Password" name="password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fa fa-google" ></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Back to Home</h3>
            <p>
            Hello there, lets go to home page
            </p>
            <a class="btn transparent" id="sign-up-btn" href="../menu">
              Home
            </a>
          </div>
          <img src="{% static '/images/yobg.png' %}" class="image" alt="" /> -->
        <!-- </div>
      </div>
    </div>

  </body>
</html> --> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello to login page</h1>
</body>
</html>